{% extends 'base.html' %}

{% block title %}
About
{% endblock %}


{% block content %}
<div class="text-center my-5" style="font-size: 20px;">
    <h2 class="my-4">About Dunder Mifflin</h2>
    <p>
        As stated by the founder Robert Dunder in "Dunder Mifflin Infinity", the company was not founded in 1949, and it
        is a supplier of metal brackets for construction.
    </p>
    <p>
        For years, Dunder Mifflin was a paper company that was unable to compete with modern chains such as Staples and
        Office Depot. The company still used calls rather than the Internet, causing most customers to leave for the
        nation-wide chains, and is unable to adapt to an increasingly paperless world. Ryan Howard, a new employee of
        the Scranton branch, predicts the company will be obsolete by 2017. In 2007, Ryan Howard became Vice President
        of Sales and begins a massive restructuring of the entire company, including a new website that would help make
        sales more efficient. However, his website was a failure (due to an ill-advised social networking feature) and
        he is later arrested for fraud when it is discovered that he is double-counting sales transactions into the
        website that were already made by salesmen over the phone.
    </p>
</div>
<hr>
<div class="competitors my-5" style="font-size: 20px;">
    <h5>Competitors</h5>
    <ul class="competitors-list">
        <li>Staples</li>
        <li>Office Depot</li>
        <li>PPC</li>
        <li>Pendelton</li>
        <li>Catalyst Paper</li>
        <li>Prince Paper</li>
        <li>The Michael Scott Paper Company</li>
        <li>Big Red Paper Company</li>
        <li>Osprey Paper</li>
    </ul>
</div>
{% endblock %}