{% extends 'base.html' %}

{% block title %}
Dunder Miffin US
{% endblock %}

{% block jumbotron %}
<div class="p-5 text-center bg-light jumbotron">
    <h1 class="mb-3">Dunder Mifflin Paper Co.</h1>
    <h4 class="mb-3">America's Best Paper Supply Business</h4>
    <a class="btn btn-secondary" href="/about" role="button">Find Out
        More
        Here...</a>
</div>
{% endblock %}

{% block content %}
<div class="justify-content-center my-5">

    <h3 class="text-center my-4">Recent News</h3>

    {% for news in recent_news %}
    <a href="/news/{{ news.url }}" class="a-link__tags">
        <h5>{{ news.title }}</h5>
    </a>
    <a href="/news/{{ news.url }}" class="a-link__tags">
        <p>{{ news.content }}</p>
    </a>
    <hr>
    {% endfor %}
</div>
{% endblock %}