{% extends 'base.html' %}

{% block title %}
Staff
{% endblock %}

{% block content %}
<div class="text-center justify-content-center my-5">
    <h1 class="py-5">Small variety of employees</h1>
</div>
{% for member in company %}
<div class="text-center justify-content-center my-5">
    {% if loop.index % 2 != 0 %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h3><a href="/staff/{{ member.url }}" class="a-link__tags">{{ member.name }}</a></h3>
            <p><strong>Department: {{ member.position }}</strong></p>
            <p>
                {{ member.description }}
            </p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <a href="/staff/{{ member.url }}">
                <img src="{{ member.image_source }}" alt="{{ member.name }}" class="img-fluid rounded">
            </a>
        </div>
    </div>
    <hr>
    {% else %}
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <a href="/staff/{{ member.url }}">
                <img src="{{ member.image_source }}" alt="{{ member.name }}" class="img-fluid rounded">
            </a>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h3><a href="/staff/{{ member.url }}" class="a-link__tags">{{ member.name }}</a></h3>
            <p><strong>Department: {{ member.position }}</strong></p>
            <p>
                {{ member.description }}
            </p>
        </div>
    </div>
    <hr>
    {% endif %}
</div>
{% endfor %}
{% endblock %}